.qe_bg {
  width: 85%;
  background-color: black;
  margin: 5rem auto;
  border-radius: 7px;
  min-height: 30rem;
  padding-bottom: 3rem;
}

.qe_dates_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.qe_title {
  padding: 2rem 0 0 0;
  font-size: 35px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.qe_title_container {
  display: flex;
  flex-direction: column;
}

.under {
  padding-top: 0;
}

.qe_dates_item {
  margin: 3rem 0 0 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.qe_date_img {
  min-width: 3rem;
  min-height: 3rem;
  height: 7rem;
}

.fi_logo {
  height: 14rem;
}

.qe_date_img_bg_white {
  background: white;
  border-radius: 20px;
  padding: 7px;
}

.sor_logo {
  height: 10rem;
}

.qe_date_item_title {
  letter-spacing: 4px;
  font-size: 27px;
  margin-top: 1rem;
}

.qe_date_item_info {
  font-size: 16px;
}

.qe_date_item_info p {
  margin-bottom: 0;
}

/* for ipad and desktop  */
@media (min-width: 1200px) {
  .qe_dates_container {
    flex-direction: row;
  }

  .qe_bg {
    /* min-height: 10rem;
    height: ; */
    padding-bottom: 2rem;
    min-height: 0;
  }

  .qe_title_container {
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding: 1rem 0 0 1rem;
  }

  .qe_title {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }

  .qe_dates_item {
    margin-bottom: 0;
  }

  .qe_date_img {
    height: 5rem;
  }

  .qe_date_item_title {
    font-size: 18px;
  }
}
