.qe_dates_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  background-color: black;
  margin: 5rem auto;
  border-radius: 7px;
  min-height: 30rem;
}

.qe_title {
  padding: 2rem 0 0 0;
  font-size: 35px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.under {
  padding-top: 0;
}

.qe_dates_item {
  margin: 3rem 0 0 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.qe_date_img {
  min-width: 3rem;
  min-height: 3rem;
  height: 7rem;
}

.fi_logo {
  height: 14rem;
  background: white;
  border-radius: 20px;
  padding: 7px;
}

.qe_date_item_title {
  letter-spacing: 4px;
  font-size: 27px;
  margin-top: 1rem;
}

.qe_date_item_info {
  font-size: 16px;
}

.qe_date_item_info p {
  margin-bottom: 0;
}
