.about_container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 85%;
  margin: 3rem auto;
}

.about_title {
  letter-spacing: 12px;
  font-size: 55px;
  font-weight: bold;
}

.about_text {
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
  letter-spacing: 3px;
}

/* for ipad and desktop  */
@media (min-width: 1200px) {
  .about_container {
    text-align: left;
  }
}
