.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: cadetblue !important;
}

a {
  color: white !important;
}

.dropdown-menu {
  background-color: cadetblue !important;
}

#nav-logo {
  height: 3rem !important;
  width: auto;
  overflow: visible;
  object-fit: contain;
  margin-right: 20px;
  color: white !important;
}

.branding_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white !important;
}

.dates {
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 6px;
  color: rebeccapurple;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    width: 185px;
  }

  #nav-logo {
    width: 95%;
    margin-right: 7px;
  }

  .dates {
    font-size: 14px;
  }
}
