.main-footer {
  text-align: center;
  /* background-color: cadetblue; */
  background-color: black;
  color: white;
  padding-top: 3rem;
  /* position: relative; */
  bottom: 0;
  width: 100%;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 4px;
}

.col {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.info_footer {
  margin-left: 1rem;
}

.col-sm {
  margin-bottom: 0;
}

.link_style {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 6%;
}

.icon {
  height: 50px;
  width: auto;
  margin: 0 10px;
}

@media only screen and (max-width: 1020px) {
  .icons {
    flex-direction: row;
    height: auto;
    width: auto;
    margin-bottom: 10px;
  }

  .row > * {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .icons {
    width: 100%;
    margin-bottom: 2rem;
  }

  .row > * {
    width: 33%;
    --bs-gutter-x: 0;
  }
}
